header{
  padding: 0;
  margin: 0;
}
body{
  background-image: url(textured-paper.png);
  background-color: #a0a177;
}
form{
    width: 500px;
    margin: 0 auto;
    text-align: center;
}
input{
    width: 50px;
}
table {
    background: #855E42;
    margin: 0 auto;
    border-collapse: collapse;
    border-radius: .8rem;
}
th {
    color: #9e7a60;
    font-weight: bold;
}
td {
    background: #9e7a60;
}
tr > *{
    padding: 5px 15px;
}
.table wrapper{
    max-width: 90%;
    margin: 0 auto;
    overflow: scroll;
    max-height: 50%;
}
.error_message{
    color: red;
}
#empty{
    width: 500px;
    margin: 30px auto;
    text-align: center;
}
.container-fluid{
  max-width: 80rem;
}
.jumbotron{
  background: none;
}
.navbar{
  background-color: #FAC0CB;
  opacity: 0.9;
  font-family: "Courier New", Courier, monospace;
}
.card {
    width: 35rem;
    border-radius: .8rem;
    background: #855E42;
    opacity: .9;
}
.h-divider{
  border-top: 1px solid white;
}
.card-text{
  font-family: "Courier New", Courier, monospace;
  font-size: 17px;
  font-weight: bold;
}
.img-responsive{
  height: 120px;
  width: 130px;
}
li{
  display:inline;
}
p{
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
}
#assignments {
    width: 70rem;
    height: 40rem;
    border-radius: .8rem;
}
#owl{
  width: 100%;
}
